.carousel-item 
{
    height: 600px;
    position: relative;
}

.carousel-item-img
{
    height: 100%;
    object-fit: cover;
}

.carousel-caption
{
    top:50%;
    bottom:auto;
    transform: translateY(-50%);
}
.section-padding
{
    padding: 60px 0px;
}
#about
{
    background-color: rgb(137, 139, 137);
}